.errors {
    background: linear-gradient(45deg, #e64b76, #f32424);
    color: white;
    padding: 15px 10px 20px 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.form-success-top {
    margin-bottom: 15px;
    background: linear-gradient(45deg, #1fd282, #4be6a6);
    color: white;
    padding: 13px;
    box-shadow: 0 0 12px 0 rgb(0 0 0 / 6%);
    border-radius: 4px;
}

.form-error-top{
    margin-bottom: 15px;
    background: linear-gradient(45deg, #e64b76, #f32424);
    color: white;
    padding: 13px;
    box-shadow: 0 0 12px 0 rgb(0 0 0 / 6%);
    border-radius: 4px;
}

.form-info-top {
    margin-bottom: 15px;
    background: #52c8fe61;
    color: black;
    padding: 13px;
    border-radius: 4px;
}

.flex {
    display: flex;
    justify-content: left;
    padding: 10px;
    margin-top: 10px;
}
.card{ min-width: 0px!important; min-width: -1px!important; }

.custom-dropdown::after {
    color: rgba(0,0,0,.4);
}

#ambiance-notification {
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
}

/* Built in custom styling for the notifications. */
.ambiance-title {
    font-weight: bolder;
}
.ambiance-link a{
    font-weight: bold;
    text-decoration:none;
}

.ambiance {
    float: right;
    clear: both;
    border: 3px solid transparent;
}

.ambiance:hover {
    border: 3px solid #DDDDDD;
}

.ambiance-default, .ambiance-success, .ambiance-error {
    border-radius: 5px;
    -moz-border-radius: 5px; /* Firefox 3.6 and earlier. */
    padding: 10px;
    margin: 10px;
}

.ambiance-default {
    background: #2196f3;
    color: #ffffff;
    font-size: 14px;
}

.ambiance-success {
    background: #468847;
    color: #DFF0D8;
}

.ambiance-error {
    background: #B94A48;
    color: #F2DEDE;
}

/* Close button attributes -- based off Twitter Bootstrap alert close item. */
.ambiance-close {
    display: block;
    position: relative;
    top: -2px;
    right: 0px;
    color: #FFFFFF;
    float: right;
    font-size: 18px;
    font-weight: bold;
    filter: alpha(opacity=20);
    text-decoration: none;
    position: relative;
    line-height: 14px;
    margin-left: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ambiance-close:hover {
    color: #BBBBBB;
    cursor: pointer;
}