.errors {
    background: linear-gradient(45deg, #e64b76, #f32424);
    color: white;
    padding: 15px 10px 20px 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.form-success-top {
    margin-bottom: 15px;
    background: linear-gradient(45deg, #1fd282, #4be6a6);
    color: white;
    padding: 13px;
    box-shadow: 0 0 12px 0 rgb(0 0 0 / 6%);
    border-radius: 4px;
}

.form-error-top{
    margin-bottom: 15px;
    background: linear-gradient(45deg, #e64b76, #f32424);
    color: white;
    padding: 13px;
    box-shadow: 0 0 12px 0 rgb(0 0 0 / 6%);
    border-radius: 4px;
}

.form-info-top {
    margin-bottom: 15px;
    background: #52c8fe61;
    color: black;
    padding: 13px;
    border-radius: 4px;
}

.flex {
    display: flex;
    justify-content: left;
    padding: 10px;
    margin-top: 10px;
}
.card{ min-width: 0px!important; min-width: -1px!important; }
